<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/styles.css" />
<title>Authorize</title>

<main>
  <h1>Authorize</h1>
  <form action="/oauth/authorize" method="POST">
    <input type="hidden" name="code" value="{{ code }}" />
    
    <p><strong>{{ request.client_id }}</strong> is asking for permission to authenticate.</p>
    <p>
      You are signed in as: <strong>{{ currentUser }}</strong>.
      (Or <a href="/auth/sign-in?redir={{ encodeURIComponent("/oauth/authorize?" +
        new URLSearchParams({ client_id: request.client_id, request_uri }).toString())
      }}">switch account</a>)
    </p>

    <div>
      <p>Scopes:</p>
      <ul>
        {{ for scope of request.scope.split(" ") }}
          <li><code>{{ scope }}</code></li>
        {{ /for }}
      </ul>
    </div>

    <div>
      <button type="submit">Authorize</button>
    </div>
  </form>
</main>
