<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/styles.css" />
<title>Authorize</title>

<main>
  <h1>Authorize</h1>
  <p><strong>{{ error ?? "Error" }}</strong>: {{ message }}</p>
</main>
